body{
	background-color: #FFFFE0;
}





/* меню */

.menu {
	text-align: center;
}



@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap&subset=cyrillic');
* {
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.button {
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 32px 15px 17px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.button:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #7BA7AB; /*цвет кнопки*/
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button:hover:before {
    transform: translate(4px, 4px);
}






/* Поиск */



* {box-sizing: border-box;}
body {margin: 0;}
div {padding: 30px 0}
form {
  position: relative;
  width: 500px;
  margin: 0 auto;
	}


.d1 input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;

}
.d1 button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

body, html {
  height: 80%;
  display: grid;
}
.d1 {
  margin: auto;
}
